---
import Search from "astro-pagefind/components/Search";
---

<div class="container mx-auto mb-8 max-w-3xl px-4 lg:mb-12">
  <Search
    id="search"
    className="pagefind-ui"
    uiOptions={{ showImages: false }}
  />
</div>

<style>
  /* Pagefind UI */
  :root {
    --pagefind-ui-primary: var(--color-primary);
    --pagefind-ui-text: var(--color-base-content);
    --pagefind-ui-background: var(--color-base-100);
    --pagefind-ui-border: var(--color-base-200);
    --pagefind-ui-tag: var(--color-base-200);
    --pagefind-ui-border-width: 2px;
    --pagefind-ui-border-radius: 8px;
    --pagefind-ui-image-border-radius: 8px;
    --pagefind-ui-image-box-ratio: 3 / 2;
    --pagefind-ui-font: var(--font-primary);
  }
</style>
